body {
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.body-contact {
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #f0f0f0;
}

.nav {
  background-color: cadetblue;
  color: white;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 0px;
}

.nav ul li {
  padding: 16px;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  transition: background-color 0.2s;
}

.nav ul li a {
  text-decoration: none;
  color: black;
}

.nav ul li:hover {
  background-color: black;
}

.nav ul li a:hover {
  color: white;
}

.projects-table table {
  width: 80%;
  padding: 0px 16px;
}

.projects-table table, tr, td {
  padding: 10px 16px;
}

.cv-table table {
  width: 80%;
}

.cv-table table td p {
  font-weight: bold;
}

.cv-table table thead {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
}

.cv-table table tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray for even rows */
}

.cv-table table td:first-child {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.image-area {
  background-image:url('images/background.jpeg');
  background-color:black;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.centered-container {
  max-width: 1020px;
  margin: 0px auto;
  padding: 0px 16px;
}

.headline {
  font-size: 2.5rem;
  font-weight: bold;
}

.image-text {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 2.5rem;
}

.intro-text {
  color: gray;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.single-service {
  text-align: center;
  margin-bottom: 32px;
}

.single-service p {
  padding: 0px 16px;
}

.contact {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h1, h2 {
  text-align: center;
}

.contact form {
  margin-top: 20px;
}

.contact label, input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.contact input[type="submit"] {
  width: auto;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .nav ul {
    text-align: right;
  }

  .nav ul li {
    display: inline-block;
    border-bottom: 0px;
    border-left: 1px solid black;
    text-align: left;
  }

  .single-service-home {
    width: 50%;
    float: left;
  }
}
